[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nuclio-sdk = {editable = true,path = "."}

[dev-packages]
flake8 = "*"
twine = "*"
bleach = "==3.1.4"

[scripts]
build = "python setup.py sdist bdist_wheel"
test = "python -m unittest discover -s nuclio_sdk/test -p 'test_*.py' -v"
upload = "twine upload dist/*"
lint = "flake8 nuclio_sdk"
